<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" >Add {{isTask ? "Task": "List"}}</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <div class="input-group gap-2 d-flex flex-column"  *ngIf="!isTask">
          <label >List Type</label>
          <select name="type" id="" [(ngModel)]="type" class="form-control w-100"> 
            <option value="">Select</option>
            <option value="Personal">Personal</option>
            <option value="Wishlist">Wishlist</option>
            <option value="Shopping">Shopping</option>
            <option value="Work">Work</option>
            <option value="Default">Default</option>
          </select>
        </div>
        <div class="input-group gap-2"  *ngIf="isTask">
            <input type="text" class="form-control" placeholder="Task" [(ngModel)]="type" name="type">
            <!-- <input type="text" class="form-control" placeholder="Due Date"> -->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
<button
  class="btn btn-dark rounded-4 align-items-center d-flex justify-content-center"
  (click)="open(content)"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="30"
    height="30"
    fill="currentColor"
    class="bi bi-plus-circle"
    viewBox="0 0 16 16"
  >
    <path
      d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
    />
    <path
      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
    />
  </svg>
</button>
